<%- include ('./partial/head',{css_arr:["/styles/nav1.css","/styles/footer.css","/styles/index.css"]}) %>
<%- include('./partial/nav1',{show_login:true,show_register:true}) %> 
<main>
    <div>
        <img src="/images/diary-img.jpg" alt="img">
    </div>
    <div>
        <h2>Digital Diary</h2>
        <p>This Website provides you a secure system so you can store Notes that can we acess globally with just one login. </p>
    </div>  
</main>
<%- include('./partial/footer') %>