<%- include ('./partial/head',{css_arr:["/styles/nav1.css","/styles/footer.css","/styles/login.css",]}) %>
<%- include('./partial/nav1',{show_login:true,show_register:false}) %> 
<div class="text-center"><%- include('./partial/flash') %></div>
<main class="text-center">
    <form class="form-signin" action="/register/part1" method="POST">
      <img class="mb-2" src="./images/logo.png" alt="logo" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Please Register</h1>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus >
      <label for="inputPassword" class="sr-only">Password</label>
      <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required minlength="6">
      <label for="cPassword" class="sr-only">Confirm Password</label>
      <input name="cpassword" type="password" id="cPassword" class="form-control" placeholder="Confirm Password" required minlength="6">
      <button class="btn btn-lg btn-primary btn-block mt-4" type="submit">Register</button>
      <div class="mt-2"><a href="/forget" style="text-decoration: none;">Forget Password?</a></div> 
    </form>
</main>
<%- include('./partial/footer') %>